%h3 Profile

%ul.nav.nav-tabs
  %li= link_to t(:button_profile), profile_show_path
  - current_user.auths.each do |auth|
    %li{class: "#{params[:provider] == auth.provider ? 'active' : ''}"}
      = link_to Auth.name_of(auth.provider), projects_from_service_path(auth.provider)

.row
  .span2
    %ul.nav.nav-list
      %li= link_to 'Enabled', projects_path
      %li.nav-header Accounts
      - @owners.each do |owner|
        %li{class: (params[:owner] == owner ? 'active' : '')}= link_to owner, projects_from_service_path(params[:provider], owner: owner)

  .span10
    = paginate_projects(params[:provider], params[:owner], @per_page, @page, @project_count)
    %table.table.table-striped
      - @projects.each do |project|
        %tr
          %td= project.name
          %td{style: 'width:118px'}
            .make-switch.project-toggle
              =check_box_tag '','', @registered_projects.find {|ap| ap.provider == project.provider and ap.name == project.name }, 'class' => 'project-toggle', 'dashbozu-url' => toggle_project_path(params[:provider], name: project.name)
