.nav-bar
  .row-fluid
    %h3{style: 'display:inline'}  Listing projects
.row-fluid
  .pull-right= link_to 'Show all activities', activities_path
.row-fluid
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th API key
          %th
          %th
          %th
          %th
      %tbody
        - @projects.each do |project|
          %tr
            %td= project.name
            %td= project.api_key
            %td= link_to 'Activities', project_activities_path(project.api_key)
            %td= link_to 'Show', project
            %td= link_to 'Edit', edit_project_path(project)
            %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
