:css
  .activity {
    padding: 8px;
  }
  .activity-right {
    background-repeat: no-repeat;
    padding-left: 80px;
    background-size: 70px auto;
  }
  .activity-title img {
    width: 16px;
    height: 16px;
  }
  .activity-author{
    color: #7e7e7e;
  }
  .status-success {
    background-color: #dff0d8;
  }
  .status-error {
    background-color: #f2dede;
  }
  .status-warn {
    background-color: #fcf8e3;
  }

.activity{class: activity.status ? 'status-' + activity.status : ''}
  .activity-right{style: "background-image: url(#{image_url activity.source+'.png'})"}
    .activity-title
      = image_tag activity.icon_url if activity.icon_url
      = link_to activity.title, activity.url
    .activity-author
      = activity.author
    .activity-body
      = activity.body
    .activity-created
      = link_to strftime(activity.created_at), activity_url(id: activity.encrypted_identifier)

