- content_for :title do
  = @activity.project.name

%ul.breadcrumb
  %li.active
    = link_to 'Projects', projects_path
    %span.divider &gt;
  %li
    = link_to @activity.project.name, project_activities_path(@activity.project.api_key)
    %span.divider &gt;
  %li.active= @activity.title

= render partial: 'activity', collection: [@activity], locals: {target: nil}

= content_for :opengraph do
  %meta{property: "og:type",        content: 'article'}
  %meta{property: "og:url",         content: activity_url(@activity)}
  %meta{property: "og:title",       content: @activity.title}
  %meta{property: "og:description", content: @activity.body}
  %meta{property: "og:image",       content: activity_source_image_url(@activity)}

