%h3 Profile

%ul.nav.nav-tabs
  %li.active= link_to t(:button_profile), profile_show_path
  %li= link_to t(:button_repositories), projects_from_service_path('github')

%dl.dl-horizontal

- current_user.auths.each do |auth|
  %dl.dl-horizontal
    %dt= t(:label_provider)
    %dd= auth.provider
    %dt= t(:label_image)
    %dd= image_tag auth.image, width: 48, class: 'img-rounded'
    %dt= t(:label_user_name)
    %dd= auth.name
    %dt= t(:label_user_nickname)
    %dd= auth.nickname

- Settings.omniauth.keys.each do |provider|
  - unless current_user.auths.any? {|auth| auth.provider == provider}
    = form_tag user_omniauth_authorize_path(provider), :method => 'post' do |f|
      %button.btn.btn-primary.btn-large
        %i.icon-user
        = "#{t(:button_connect)} with #{provider}"
